<div class="container">
    <div class="row row-cols-4 g-4">
        <div class="col-6">
            <div class="card mb-6" style="max-width: 540px;">
                <div class="row g-0">

                    <img src="img7.jpg" class="img-fluid rounded-start" alt="...">

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{historias[0].nombre}}</h5>
                            <p class="card-text">{{historias[0].edad}} Años</p>
                            <p class="card-text">{{historias[0].historia}}</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Repite este bloque para cada tarjeta -->

        <div class="col-6">
            <div class="card mb-6" style="max-width: 540px;">
                <div class="row g-0">

                    <img src="img4.jpg" class="img-fluid rounded-start" alt="...">

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{historias[1].nombre}}</h5>
                            <p class="card-text">{{historias[1].edad}} Años</p>
                            <p class="card-text">{{historias[1].historia}}</p>
                            <p class="card-text"><small class="text-muted">Last updated 1 month ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Repite este bloque para cada tarjeta -->

        <div class="col-6">
            <div class="card mb-6" style="max-width: 540px;">
                <div class="row g-0">

                    <img src="img6.jpg" class="img-fluid rounded-start" alt="...">

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{historias[2].nombre}}</h5>
                            <p class="card-text">{{historias[2].edad}} Años</p>
                            <p class="card-text">{{historias[2].historia}}</p>
                            <p class="card-text"><small class="text-muted">Last updated 30 min ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Repite este bloque para cada tarjeta -->

        <div class="col-6">
            <div class="card mb-6" style="max-width: 540px;">
                <div class="row g-0">

                    <img src="img5.jpg" class="img-fluid rounded-start" alt="...">

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{historias[3].nombre}}</h5>
                            <p class="card-text">{{historias[3].edad}} Años</p>
                            <p class="card-text">{{historias[3].historia}}</p>
                            <p class="card-text"><small class="text-muted">Last updated 2 days ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>